/* VFileUpload.css */

.kr-file-upload-error.error {
  color: var(--denary-color);
  font-size: 12px;
  margin-top: 5px;
}

.kr-upload-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.label {
  color: #fff;
  font-size: 1vw;
  margin-top: 1vw;
}

.format {
  font-size: 0.8vw;
}

.upload_file_image_preview > img {
  display: block;
  margin-bottom: 1rem;
  border-radius: 8px;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 10rem;
  border: 2px solid #a2a2a2;
}

.kr-button.disabled {
  cursor: not-allowed !important;
}
.upload_file_image_preview {
  display: flex;
  justify-content: center;
}

.upload_file_image_preview {
  display: flex;
  justify-content: center;
}

.upload_view_delete {
  width: fit-content;
  font-size: 1.5vw;
  color: red;
  background: #fff;
  border: none;
  display: flex;
  padding: 0.3vw;
  border-radius: 50%;
}
.upload_file_wrapper {
  margin-bottom: 2vw;
}
.upload_file_wrapper.left > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.upload_file_wrapper.left > div > label {
  margin-bottom: 1.3rem;
  font-size: 1.2vw;
  font-weight: 600;
  color: #1b4332;
  width: 70%;
}

.upload_file_wrapper.left > div {
  justify-content: space-between;
}
