/* VFileUpload.css */

.kr-file-upload-error.error {
  color: var(--denary-color);
  font-size: 12px;
  margin-top: 5px;
}

.kr-upload-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.upload_file_image_preview > img {
  display: block;
  margin-bottom: 1rem;
  border-radius: 8px;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 10rem;
  border: 2px solid #a2a2a2;
}

.kr-button.disabled {
  cursor: not-allowed !important;
}
.upload_file_image_preview {
  display: flex;
  justify-content: center;
}

/* Inline #12 | http://localhost:5173/#/new-application */

.upload_file_image_preview {
  display: flex;
  justify-content: center;
}

.upload_view_delete > button {
  display: flex;
  justify-content: center;
  background: transparent;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.upload_view_delete > button > img {
  border-radius: 30px;
}

.upload_view_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.9vw;
  margin-top: 5px;
}

.upload_file_wrapper.left > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.upload_file_wrapper.left > div > label {
  margin-bottom: 1.3rem;
  font-size: 1.2vw;
  font-weight: 600;
  color: #1b4332;
  width: 70%;
}

.upload_file_wrapper.left > div {
  justify-content: space-between;
}
